/* styles.css */

/* Custom Header Styles */
.custom-header {
  background-color: #333;
  color: #fff;
  padding: 15px;
}

.custom-logo {
  max-width: 100px;
  height: auto;
}

.custom-heading {
  font-size: 1.5rem;
}

/* Custom Main Container Styles */
.custom-main-container {
  margin-top: 30px;
}

/* Custom Slider Styles */
.custom-slider {
  margin: 0 -15px; /* Adjust margin as needed */
}

/* Custom Card Styles */
.custom-card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.05);
}

.custom-card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.custom-card-body {
  padding: 15px;
}

.custom-card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.custom-card-text {
  color: #555;
}
